<h1>Multiple component</h1>
<button class="btn btn-primary" routerLink="/tab_one">tab1</button>
<button  class="btn btn-primary" routerLink="/tab_two">tab2</button>
<button  class="btn btn-primary" routerLink="/my-component">tab3</button>
<button  class="btn btn-primary" routerLink="/ajax-call">tab4</button>
<button  class="btn btn-primary" routerLink="/tab-five">tab5</button>
<button  class="btn btn-primary" routerLink="/tab-six">tab6</button>
<button  class="btn btn-primary" routerLink="/tab-seven">tab7</button>
<button  class="btn btn-primary" routerLink="/tab-eight">tab8</button>
<!--<ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>-->
<!--step 3 for date picker -->
<router-outlet></router-outlet>



